ErrorDocument 400 "OOPS!!! You are unauthorised"
ErrorDocument 401 "OOPS!!! You are unauthorised"
ErrorDocument 403 "OOPS!!! You are unauthorised"
ErrorDocument 404 "OOPS!!! You are unauthorised"
ErrorDocument 500 "OOPS!!! You are unauthorised"
ErrorDocument 502 "OOPS!!! You are unauthorised"
ErrorDocument 504 "OOPS!!! You are unauthorised"
Options -Indexes
RewriteEngine On
RewriteCond %{REQUEST_URI} "/css/"
RewriteRule (.*) $1 [L]
RewriteCond %{REQUEST_URI} "/images/"
RewriteRule (.*) $1 [L]
RewriteCond %{REQUEST_URI} "/js/"
RewriteRule (.*) $1 [L]
RewriteCond %{REQUEST_URI} "/fonts/"
RewriteRule (.*) $1 [L]
RewriteRule ^$ index.php [L]

php_flag file_uploads on
php_value post_max_size "512M"
php_value upload_max_filesize "512M"
php_value max_input_time "6000"
php_value memory_limit "512M"
php_value max_execution_time "6000"

<filesMatch "\.(html|htm|js|css|php)$">
FileETag None
Header unset ETag
Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
Header set Pragma "no-cache"
Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
</filesMatch>